<!DOCTYPE html>
{%load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static "css/static1.css"%}">

  </head>
  <body>
  <h1>Knowcubs Movie News Information...Head Lines Of Today</h1><hr>
<ul>
  <li>{{news1}}</li>
  <li>{{news2}}</li>
  <li>{{news3}}</li>
  <li>{{news4}}</li>
  <li>{{news5}}</li>

</ul>
</div>
</div>
</div>
  <img src="{%static "images/tap.jpg"%}">
  <img src="{%static "images/g1.jpg"%}">
  <img src="{%static "images/b1.jpg"%}">
  <img src="{%static "images/n.jpg"%}">
  <img src="{%static "images/n2.jpg"%}">
  <img src="{%static "images/b3.jpg"%}">

  </body>
</html>
